html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
.player-container {
    max-width: 800px; 
    margin: 0 auto;
    margin-bottom: 20px;
}

.player-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center; 
}

.player-card {
    flex: 0 0 calc(20% - 20px);
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    min-height: 150px;
    min-width: calc(25% - 40px);
    display: flex;
    flex-direction: column;
}

.player-card:hover {
    transform: translateY(-5px);
}

.player-info {
    text-align: center;
    margin-bottom: 10px;
}

.player-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.hrStats {
    padding: 0;
    font-size: 10px;
    margin-top: -2px;
    text-align: right;
    color: #625656;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#current-date {
    font-size: 18px;
    color: #666; 
    margin-bottom: 2px;
    text-align: center;
}

#current-time {
    font-size: 8px;
    color: #515151; 
    margin-bottom: 30px;
    text-align: center;
}

#powered-by {
    margin-bottom: 5px;
}

#home_run_count{
    font-size: 20px;
    color: #203649; 
    margin-bottom: 8px;
    text-align: center;
}

#no-one {
    font-size: 18px;
    color: #625656;
    margin-bottom: 40px;
    text-align: center;
}

.player-info img {
    width: 150px; /* Adjust the width to your desired size */
    height: 150px; /* Adjust the height to your desired size */
    border-radius: 50%; 
    object-fit: contain; 
    margin-bottom: 10px;
}

.player-homeruns-season{
    text-align: center;
    font-size: 10px;
    font-style: italic;
    margin-top: auto;
    margin-bottom: 1px;
}

.player-team {
    font-size: 12px;
    color: #6f6f6f;
}

footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f0f0f0;
}

footer p {
    margin: 0;
}

footer a {
    text-decoration: none; 
    color: #333; 
}