<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who Hit a Homerun Today?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/manifest.json') }}">    
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="container">
        <h1>Who Hit a Homerun Today?</h1>
        <!-- <div style="display=inline-flex"> -->
        <!-- <input type="submit" name="submit_button" value="Do Something"> -->
        <p id="current-date">{{ current_date }}</p>
        <!-- <input type="submit" name="submit_button" value="Do Something"> -->
        <!-- </div> -->
        <p id="current-time">Last updated: {{ current_time }} CST</p>
        <form method="POST" action="/">
        <label for="date">change date (1950-):</label>
        <input type="date" id="date" name="customDate">
        <input id="submit" type="submit" value="ding">
        </form> 
        {% if no_home_runs %}
        <p id="no-one">No one...yet</p>
        {% else %}
        {% if total_home_run_count == 1 %}
            <div id="home_run_count">{{total_home_run_count}} HR today.</div>
        {% else %}
            <div id="home_run_count">{{total_home_run_count}} HR's today.</div>
        {% endif %}
        <div class="player-container">
            <div class="player-grid">
                {% for player, home_runs in home_runs.items() %}
                    <div class="player-card" data-url="{{ home_runs[0][3] }}">
                        <div class="player-info">
                            <img src="{{ home_runs[0][4] }}" alt="{{ player }}">
                            <div class="player-name">{{ player }}</div>
                            <div class="player-team">{{ home_runs[0][6] }}</div>
                            
                        </div>
                        <ul>
                            {% for top_bottom, inning_with_suffix, runs_scored, batter_url, batter_image_url, num_homeruns_for_player, current_team, exitVelo, distance in home_runs %}
                                <li>
                                    <strong>{{ top_bottom }} {{ inning_with_suffix }}</strong> - {{ runs_scored }} homerun 
                                    <p class="hrStats">{{ distance }} ft | {{ exitVelo }} exit velo</p>
                                </li>
                            {% endfor %}
                        </ul>
                        {% if home_runs[0][5] %}
                            {% if home_runs[0][5] == 1 %}
                                <p class="player-homeruns-season">{{current_date[-4:]}} Season: {{home_runs[0][5]}} HR</p>
                            {% else %}
                                <p class="player-homeruns-season">{{current_date[-4:]}} Season: {{home_runs[0][5]}} HR's</p>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <footer>
        <p id="powered-by">Powered by <a href="https://github.com/toddrob99/MLB-StatsAPI" target="_blank">MLB-StatsAPI</a></p>
        <p><a href="https://github.com/blakemartinez/who-hit-a-homerun-today" target="_blank">2024 Blake Martinez</a></p>
    </footer>

    <script>
        document.querySelectorAll('.player-card').forEach(item => {
            item.addEventListener('click', event => {
                const url = item.getAttribute('data-url');
                window.open(url, '_blank');
            });
        });
    </script>
</body>
</html>
